<a href="https://colab.research.google.com/github/privindofdn/Project1/blob/main/praktikum1_G211220081.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PRIVINDO FEBRIAN DWI N /
G.211.22.0081**

In [1]:
teman_saya = ["Kamal", "Fian", "Rizal", "Ilham","Ian"]
print(teman_saya[3])
print ("Isi teman_saya indeks ke-3 adalah: {}".format(teman_saya[3]) )
print( "Semua teman: ada {} orang".format(len(teman_saya)))
for teman in teman_saya : print(teman)

Ilham
Isi teman_saya indeks ke-3 adalah: Ilham
Semua teman: ada 5 orang
Kamal
Fian
Rizal
Ilham
Ian

In [3]:
buah = ["Cerry","mangga","pepaya","stroberi","anggur"]
buah.append("pisang")
print(buah)

['Cerry', 'mangga', 'pepaya', 'stroberi', 'anggur', 'pisang']

In [4]:
for i in range(5):
  print("perulangan ke -", i)

perulangan ke - 0
perulangan ke - 1
perulangan ke - 2
perulangan ke - 3
perulangan ke - 4

In [5]:
teman = ["Khoirul", "Ilham", "Pripindo", "Nando", "Kamal"]
teman[4] = "Hilmi"
print("Teman dekat saya adalah {}.".format(teman[4]))

Teman dekat saya adalah Hilmi.

In [6]:
#Deklarasi List
nilai = [2,4,6,8,10,12,14,16,18,20]

#tampilkan list
print("List Nilai : \n",nilai)

#menggunakan len
print("\nJumlah Index list nilai (len) : \n", len(nilai))

#menggunakan count
print("\nJumlah Nilai 5 Dalam List (count) : \n", nilai.count(2))

#Menggunakan append
print("\nMenambah element dalam list (append) : ")
nilai.append(12)
nilai.append(10)
print("List Nilai : ",nilai)

#Menggunakan index
print("\nIndex ke 8 (index) : \n", nilai.index(12))

#Menggunakan insert
nilai.insert(1,22)
print("\nTambah Nilai List (Insert) : \n", nilai)

#Menggunakan pop
nilai.pop()
nilai.pop()
print("\nList Nilai (pop) : \n",nilai)

#Menggunakan remove
nilai.remove(2)
nilai.remove(4)
print("\nList Nilai (remove) : \n", nilai)

List Nilai :
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Jumlah Index list nilai (len) :
 10

Jumlah Nilai 5 Dalam List (count) :
 1

Menambah element dalam list (append) :
List Nilai :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 12, 10]

Index ke 8 (index) :
 5

Tambah Nilai List (Insert) :
 [2, 22, 4, 6, 8, 10, 12, 14, 16, 18, 20, 12, 10]

List Nilai (pop) :
 [2, 22, 4, 6, 8, 10, 12, 14, 16, 18, 20]

List Nilai (remove) :
 [22, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
#Menggunakan extend
nilai2 = [4,2,8,10]
nilai.extend(nilai2)
print("\nList Nilai (extend : \n", nilai)

#Menggunakan reverse
nilai.reverse()
print("\nList Nilai (reverse) : \n", nilai)

#Menggunakan sort
nilai.sort()
print("\nList Nilai (sort) : \n", nilai)

#Menggunakan Max
print("\nNilai Terbanyak (max) : \n", max(nilai))

#Mengguankan min
print("\nNilai terendah (min) : \n", min(nilai))

#Menggunakan Sum
print("\nTotal penjumlahan nilai dari list_nilai (sum) : \n",
sum(nilai))

List Nilai (extend :
 [22, 6, 8, 10, 12, 14, 16, 18, 20, 4, 2, 8, 10]

List Nilai (reverse) :
 [10, 8, 2, 4, 20, 18, 16, 14, 12, 10, 8, 6, 22]

List Nilai (sort) :
 [2, 4, 6, 8, 8, 10, 10, 12, 14, 16, 18, 20, 22]

Nilai Terbanyak (max) :
 22

Nilai terendah (min) :
 2

Total penjumlahan nilai dari list_nilai (sum) :
 150

In [13]:
# Deklarasi List Nama Orang
nama_orang = ["Privindo", "Hilmi", "Nando", "Fian", "Rizal","Ezra"]

# Tampilkan List
print("List Nama Orang: \n", nama_orang)

# Menggunakan len
print("\nJumlah Index List Nama Orang (len): \n", len(nama_orang))

# Menggunakan count
print("\nJumlah Nama Nando dalam List (count): \n", nama_orang.count("Ilham"))

# Menggunakan append
print("\nMenambah Nama ke dalam List (append): ")
nama_orang.append("Tegar")
nama_orang.append("Kamal")
print("List Nama Orang: ", nama_orang)

# Menggunakan index
print("\nIndex ke-3 (index): \n", nama_orang.index("Ezra"))

# Menggunakan insert
nama_orang.insert(2, "Privindo")
print("\nMenambah Nama ke dalam List (Insert): \n", nama_orang)

# Menggunakan pop
nama_orang.pop()
nama_orang.pop()
print("\nList Nama Orang (pop): \n", nama_orang)

# Menggunakan remove
nama_orang.remove("Privindo")
nama_orang.remove("Ezra")
print("\nList Nama Orang (remove): \n", nama_orang)

List Nama Orang:
 ['Privindo', 'Hilmi', 'Nando', 'Fian', 'Rizal', 'Ezra']

Jumlah Index List Nama Orang (len):
 6

Jumlah Nama Nando dalam List (count):
 0

Menambah Nama ke dalam List (append):
List Nama Orang:  ['Privindo', 'Hilmi', 'Nando', 'Fian', 'Rizal', 'Ezra', 'Tegar', 'Kamal']

Index ke-3 (index):
 5

Menambah Nama ke dalam List (Insert):
 ['Privindo', 'Hilmi', 'Privindo', 'Nando', 'Fian', 'Rizal', 'Ezra', 'Tegar', 'Kamal']

List Nama Orang (pop):
 ['Privindo', 'Hilmi', 'Privindo', 'Nando', 'Fian', 'Rizal', 'Ezra']

List Nama Orang (remove):
 ['Hilmi', 'Privindo', 'Nando', 'Fian', 'Rizal']